[submodule "database"]
path = database
url = git@github.com:Alice52/database.git
[submodule "programming"]
path = programming
url = git@github.com:Alice52/programming.git
[submodule "http"]
path = http
url = git@github.com:Alice52/http.git
[submodule "nginx"]
path = nginx
url = git@github.com:Alice52/nginx-tutorial.git
[submodule "linux"]
path = linux
url = git@github.com:Alice52/linux-tutorial.git
[submodule "mq"]
path = mq
url = git@github.com:Alice52/mq-tutorial.git
[submodule "rpc/grpc"]
path = rpc/grpc
url = git@github.com:Alice52/grpc-tutorial.git
[submodule "job"]
path = job
url = git@github.com:Alice52/job.git
[submodule "optimize"]
path = optimize
url = git@github.com:Alice52/optimize.git
[submodule "oauth"]
path = oauth
url = git@github.com:Alice52/security-tutorial.git
