[submodule "programming-principles"]
	path = programming-principles
	url = git@github.com:Alice52/programming-principles.git
[submodule "database"]
	path = database
	url = git@github.com:Alice52/database.git
[submodule "common/common-http"]
	path = common/common-http
	url = git@github.com:Alice52/common-http.git
